<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speech Emotion Detection</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <img src="https://via.placeholder.com/200" alt="logo">
            <p>TellTones</p>
        </div>
        <div class="nav-links">
            <a href="/">About Us</a>
            <a href="/demo">Demo</a>
            <a href="#">Contact</a>
        </div>
    </nav>

    <h1 id="speech">TellTones</h1>
    <a href="/demo">Demo</a>
    <p><i>Aiding in understanding emotions!</i></p>
    
    <form id="Content">
        <label for="file">
            Our goal is to empower individuals, organizations, and communities with tools that understand emotions from voice.</p>
            <p>Technologies we use:
                <ul>
                    <li>Librosa for audio feature extraction</li>
                    <li>scikit-learn for building robust machine learning models</li>
                    <li>SQLite for efficient data storage</li>
                </ul>
            </p></label>
    </form>
</body>
</html>